[Desktop Entry]
Name=RISC OS
Name[bg]=RISC OS
Name[br]=RISC OS
Name[ca]=RISC OS
Name[cs]=Risc OS
Name[cy]= RISC OS
Name[da]=RISC OS
Name[de]=RISC OS
Name[el]=RISC OS
Name[en_GB]=RISC OS
Name[eo]=RISC OS
Name[es]=RISC OS
Name[et]=RISC OS
Name[eu]=RISC OS
Name[fi]=RISC OS
Name[fr]=RISC OS
Name[fy]=RISC OS
Name[ga]=RISC OS
Name[gl]=RISC OS
Name[he]=RISC OS
Name[hne]=रिस्क ओएस
Name[hu]=RISC OS
Name[is]=RISC OS
Name[it]=RISC OS
Name[ja]=RISC OS
Name[lt]=RISC OS
Name[lv]=RISC OS
Name[mk]=RISC OS
Name[ml]=റിസ്ക് ഓഎസ്സ്
Name[ms]=RISC OS
Name[nb]=RISC OS
Name[nds]=RISC OS
Name[ne]=RISC OS
Name[nl]=RISC OS
Name[nn]=RISC OS
Name[pa]=RISC OS
Name[pl]=RISC OS
Name[pt]=RISC OS
Name[pt_BR]=RISC OS
Name[ro]=RISC OS
Name[ru]=RISC OS
Name[sk]=RISC OS
Name[sl]=RISC OS
Name[sr]=РискОС
Name[sr@latin]=RiscOS
Name[sv]=RISC OS
Name[ta]=RISC இ.த
Name[tg]=RISC OS
Name[tr]=RISC OS
Name[uk]=RISC ОС
Name[uz]=RISC OS
Name[uz@cyrillic]=RISC OS
Name[vi]=RISC OS
Name[xh]=i RISC OS
Name[x-test]=xxRISC OSxx
Name[zh_CN]=RISC OS
Name[zh_TW]=RISC OS
X-KDE-Library=kwin3_riscos
