[Desktop Entry]
Name=Redmond
Name[bg]=Редмънд
Name[bs]=Redmond
Name[ca]=Redmond
Name[ca@valencia]=Redmond
Name[cs]=Redmond
Name[da]=Redmond
Name[de]=Redmond
Name[el]=Redmond
Name[en_GB]=Redmond
Name[es]=Redmond
Name[et]=Redmond
Name[eu]=Redmond
Name[fi]=Redmond
Name[fr]=Redmond
Name[ga]=Redmond
Name[gl]=Redmond
Name[hu]=Redmond
Name[it]=Redmond
Name[ja]=Redmond
Name[kk]=Редмонд
Name[lt]=Redmond
Name[lv]=Redmonda
Name[mai]=रेडमंड
Name[nb]=Redmond
Name[nds]=Redmond
Name[nl]=Redmond
Name[pl]=Redmond
Name[pt]=Redmond
Name[pt_BR]=Redmond
Name[ru]=Редмонд
Name[sk]=Redmond
Name[sl]=Redmond
Name[sr]=Редмонд
Name[sr@ijekavian]=Редмонд
Name[sr@ijekavianlatin]=Redmond
Name[sr@latin]=Redmond
Name[sv]=Redmond
Name[tr]=Redmond
Name[ug]=Redmond
Name[uk]=Редмонд
Name[x-test]=xxRedmondxx
Name[zh_CN]=雷德蒙德
Name[zh_TW]=Redmond
X-KDE-Library=kwin3_redmond
