[Desktop Entry]
Name=Icy Tree
Name[bg]=Ледено дърво
Name[ca]=Arbre gelat
Name[cs]=Zmrzlý strom
Name[da]=Icy Tree
Name[de]=Eisbaum
Name[el]=Παγωμένο δέντρο
Name[en_GB]=Icy Tree
Name[es]=Árbol helado
Name[et]=Jääpuu
Name[fr]=Arbre glacé
Name[ga]=Icy Tree
Name[gl]=Árbore xeada
Name[hu]=Jeges fa
Name[is]=Ísað tré
Name[it]=Albero ghiacciato
Name[lv]=Ledainais koks
Name[nb]=Isdekket tre
Name[nds]=Iesboom
Name[nl]=Beijste boom
Name[nn]=Rim på tre
Name[pl]=Zmrożone drzewo
Name[pt]=Árvore Gelada
Name[pt_BR]=Árvore gelada
Name[ro]=Copac brumăriu
Name[ru]=Ледяное дерево
Name[sl]=Ledeno drevo
Name[sr]=Слеђено дрво
Name[sr@latin]=Sleđeno drvo
Name[sv]=Nedisat träd
Name[tr]=Buz Ağaç
Name[uk]=Замерзле дерево
Name[x-test]=xxIcy Treexx
Name[zh_TW]=冰樹

X-KDE-PluginInfo-Name=Icy_Tree
X-KDE-PluginInfo-Author=Steve Stalcup
X-KDE-PluginInfo-Email=vorian@ubuntu.com
X-KDE-PluginInfo-License=GPL
