[Desktop Entry]
Name=KDE 1
Name[bg]=KDE 1
Name[br]=KDE 1
Name[ca]=KDE 1
Name[cs]=KDE 1
Name[cy]=KDE 1
Name[da]=KDE 1
Name[de]=KDE 1
Name[el]=KDE 1
Name[en_GB]=KDE 1
Name[eo]=KDE 1
Name[es]=KDE 1
Name[et]=KDE 1
Name[eu]=KDE 1
Name[fa]=KDE ۱
Name[fi]=KDE 1
Name[fr]=KDE 1
Name[fy]=KDE 1
Name[ga]=KDE 1
Name[gl]=KDE 1
Name[he]=KDE 1
Name[hne]=केडीई 1
Name[hu]=KDE 1
Name[is]=KDE 1
Name[it]=KDE 1
Name[ja]=KDE 1
Name[lt]=KDE 1
Name[lv]=KDE 1
Name[mk]=KDE 1
Name[ml]=കെഡിഇ 1
Name[ms]=KDE 1
Name[nb]=KDE 1
Name[nds]=KDE 1
Name[ne]=केडीई १
Name[nl]=KDE 1
Name[nn]=KDE 1
Name[oc]=KDE 1
Name[pa]=KDE 1
Name[pl]=KDE 1
Name[pt]=KDE 1
Name[pt_BR]=KDE 1
Name[ro]=KDE 1
Name[ru]=KDE 1
Name[sk]=KDE 1
Name[sl]=KDE 1
Name[sr]=КДЕ 1
Name[sr@latin]=KDE 1
Name[sv]=KDE 1
Name[ta]=KDE 1
Name[tg]=KDE 1
Name[tr]=KDE 1
Name[uk]=KDE 1
Name[uz]=KDE 1
Name[uz@cyrillic]=KDE 1
Name[vi]=KDE 1
Name[xh]=KDE 1
Name[x-test]=xxKDE 1xx
Name[zh_CN]=KDE 1
Name[zh_TW]=KDE 1
X-KDE-Library=kwin3_kde1
