[Desktop Entry]
Name=Androbit
Name[bs]=Androbit
Name[ca]=Androbit
Name[ca@valencia]=Androbit
Name[cs]=Androbit
Name[da]=Androbit
Name[de]=Androbit
Name[el]=Androbit
Name[en_GB]=Androbit
Name[es]=Androbit
Name[et]=Androbit
Name[eu]=Androbit
Name[fi]=Androbit
Name[fr]=Androbit
Name[ga]=Androbit
Name[gl]=Androbit
Name[hu]=Androbit
Name[it]=Androbit
Name[kk]=Androbit
Name[lt]=Androbit
Name[lv]=Androbit
Name[nb]=Androbit
Name[nds]=Androbit
Name[nl]=Androbit
Name[pl]=Androbit
Name[pt]=Androbit
Name[pt_BR]=Androbit
Name[ru]=Androbit
Name[sk]=Androbit
Name[sl]=Androbit
Name[sr]=Андробит
Name[sr@ijekavian]=Андробит
Name[sr@ijekavianlatin]=Androbit
Name[sr@latin]=Androbit
Name[sv]=Androbit
Name[tr]=Androbit
Name[uk]=Андробіт
Name[x-test]=xxAndrobitxx
Name[zh_CN]=Androbit
Name[zh_TW]=Androbit

Comment=A modern glossy theme for plasma
Comment[bg]=Лъскава тема за plasma
Comment[bs]=Moderna sjajna tema za Plazmu
Comment[ca]=Un tema brillant per al plasma
Comment[ca@valencia]=Un tema brillant per al plasma
Comment[cs]=Moderní lesklý motiv pro Plasmu
Comment[da]=Et moderne glinsende tema til Plasma
Comment[de]=Ein elegantes glänzendes Design für Plasma
Comment[el]=Ένα μοντέρνο στιλπνό θέμα για το plasma
Comment[en_GB]=A modern glossy theme for plasma
Comment[es]=Un tema moderno y brillante para Plasma
Comment[et]=Moodne särav Plasma teema
Comment[eu]=Plasmarentzako gai moderno distiratsu bat
Comment[fi]=Moderni kiiltävä Plasma-teema
Comment[fr]=Un thème brillant pour plasma
Comment[ga]=Téama galánta nua-aimsearthale haghaidh plasma
Comment[gl]=Un tema elegante e moderno para plasma
Comment[hu]=Modern, elegáns plazmatéma
Comment[it]=Un tema moderno e patinato per Plasma
Comment[kk]=Plasma-ның  жылтыраған, заманауи нақышы
Comment[lt]=Moderni stiklinė tema skirta Plazmai
Comment[lv]=Moderna spīdīga tēma plasma darbvirsmai
Comment[nb]=Et moderne, glanset tema for plasma
Comment[nds]=En modern Gleem-Muster för Plasma
Comment[nl]=Een modern schijnend thema voor plasma
Comment[pl]=Nowoczesny lśniący motyw dla plazmy
Comment[pt]=Um tema moderno e brilhante para o Plasma
Comment[pt_BR]=Um tema moderno para o Plasma
Comment[ru]=Современная глянцевая тема рабочего стола
Comment[sk]=Moderný lesklý motív pre Plasmu
Comment[sl]=Moderna bleščeča tema za Plasmo
Comment[sr]=Модерна сјајна тема за Плазму
Comment[sr@ijekavian]=Модерна сјајна тема за Плазму
Comment[sr@ijekavianlatin]=Moderna sjajna tema za Plasmu
Comment[sr@latin]=Moderna sjajna tema za Plasmu
Comment[sv]=Ett modernt glansigt tema för Plasma
Comment[tr]=Plasma için modern ve parlak bir tema
Comment[uk]=Сучасна глянсувата тема для Плазми
Comment[x-test]=xxA modern glossy theme for plasmaxx
Comment[zh_CN]=一个现代，平滑的 Plasma 主题
Comment[zh_TW]=plasma 現代化很炫的主題。

X-KDE-PluginInfo-Author=Makay József
X-KDE-PluginInfo-Email=makay.jozsef (at) gmail (dot) com
X-KDE-PluginInfo-Name=Androbit
X-KDE-PluginInfo-Version=2010dec15
X-KDE-PluginInfo-Website=http://androbit.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
