[Desktop Entry]
Name=System++
Name[bg]=System++
Name[br]=Reizhiad++
Name[ca]=System++
Name[cs]=Systém++
Name[cy]=Cysawd++
Name[da]=System++
Name[de]=System++
Name[el]=System++
Name[en_GB]=System++
Name[eo]=Sistem++
Name[es]=System++
Name[et]=System++
Name[eu]=System++
Name[fa]=سیستم++
Name[fi]=Järjestelmä++
Name[fr]=Système++
Name[fy]=Systeem++
Name[ga]=System++
Name[gl]=System++
Name[he]=System++
Name[hne]=तंत्र++
Name[hu]=System++
Name[is]=System++
Name[it]=Sistem++
Name[ja]=システム++
Name[lt]=Sistema++
Name[lv]=System++
Name[mk]=System++
Name[ml]=സിസ്റ്റം++
Name[ms]=System++
Name[nb]=System++
Name[nds]=Systeem++
Name[ne]=System++
Name[nl]=Systeem++
Name[nn]=System++
Name[pa]=ਸਿਸਟਮ++
Name[pl]=System++
Name[pt]=System++
Name[pt_BR]=System++
Name[ro]=System++
Name[ru]=System++
Name[sk]=System++
Name[sl]=Sistem++
Name[sr]=Систем++
Name[sr@latin]=System++
Name[sv]=System++
Name[ta]=தளம்++
Name[tg]=Системаи++
Name[tr]=Sistem++
Name[uk]=System++
Name[uz]=System++
Name[uz@cyrillic]=System++
Name[vi]=System++
Name[xh]=Indlela esetyenziswayo++
Name[x-test]=xxSystem++xx
Name[zh_CN]=System++
Name[zh_TW]=System++
X-KDE-Library=kwin3_system
