[Desktop Entry]
Name=Aya
Name[bg]=Ая
Name[ca]=Aya
Name[cs]=Aya
Name[da]=Aya
Name[de]=Aya
Name[el]=Aya
Name[en_GB]=Aya
Name[es]=Aya
Name[et]=Aya
Name[eu]=Aya
Name[fr]=Aya
Name[ga]=Aya
Name[gl]=Aya
Name[hu]=Aya
Name[is]=Aya
Name[it]=Aya
Name[ja]=Aya
Name[lv]=Aya
Name[mai]=Aya
Name[mk]=Аја
Name[nb]=Aya
Name[nds]=Aya
Name[nl]=Aya
Name[nn]=Aya
Name[pl]=Aya
Name[pt]=Aya
Name[pt_BR]=Aya
Name[ro]=Aya
Name[ru]=Аят
Name[sl]=Aya
Name[sr]=Аја
Name[sr@latin]=Aya
Name[sv]=Aya
Name[tr]=Aya
Name[uk]=Ая
Name[x-test]=xxAyaxx
Name[zh_CN]=Aya
Name[zh_TW]=Aya
Comment=Theme that matches current system colors (Optimized with Oxygen style)
Comment[bg]=Изглед с текущите системни цветове (оптимизиран за стила Oxugen)
Comment[ca]=Tema que coincideix amb els colors del sistema actual (optimitzat amb l'estil Oxygen)
Comment[cs]=Téma, které odpovídá aktuálním systémovým barvám (Sladěno se stylem Oxygen)
Comment[da]=Tema som matcher aktuelle systemfarver (optimeret til Oxygen-stil)
Comment[de]=Design, welches sich nach den Systemfarben richtet (Optimiert für Oxygen-Stil)
Comment[el]=Θέμα που ταιριάζει με τα τρέχοντα χρώματα του συστήματος (βελτιστοποιημένο για το στύλ Oxygen)
Comment[en_GB]=Theme that matches current system colours (Optimised with Oxygen style)
Comment[es]=Tema que coincide con los colores del sistema (Optimizado para el estilo Oxygen)
Comment[et]=Aktiivsete süsteemi värvidega sobituv teema (optimeeritud Oxygeni stiilile)
Comment[eu]=Uneko sistemako koloreekin bat datorren gaia (Oxygen estiloarekin optimizatua)
Comment[fr]=Un thème qui correspond aux couleurs systèmes (optimisé pour le style Oxygen)
Comment[ga]=Téama comhoiriúnaithe do dhathanna an chórais (Optamaithe le stíl Oxygen)
Comment[gl]=Un tema que concorda coas cores actuais do sistema (Optimizado co estilo Oxygen)
Comment[hu]=Téma a beállított rendszerszínek felhasználásával (optimalizált az Oxygen stílushoz)
Comment[is]=Þema sem samræmist núverandi kerfislitum (aðlagað Oxygen stílnum)
Comment[it]=Tema che si adatta ai colori di sistema (ottimizzato per lo stile Oxygen)
Comment[ja]=現在のシステム色にマッチするテーマ (Oxygen スタイル用に最適化)
Comment[mk]=Тема што одговара на тековните системски бои (оптимизирана со стилот Оксиген)
Comment[nb]=Tema som passer til gjeldende systemfarger (optimalisert med Oxygen-stil)
Comment[nds]=Muster, dat to de aktuellen Systeemklören passt (topasst för Oxygen-Stil)
Comment[nl]=Thema dat bij de huidige systeemkleuren past (geoptimaliseerd met de Oxygen-stijl)
Comment[nn]=Tema som brukar systemfargane (optimert for stilen Oksygen)
Comment[pl]=Motyw pasujący do obecnych kolorów systemowych (optymalizowany dla stylu Oxygen)
Comment[pt]=Tema que corresponde às cores actuais do sistema (Optimizado com o estilo Oxygen)
Comment[pt_BR]=Um tema que corresponde às cores atuais do sistema (Otimizado com o estilo Oxygen)
Comment[ru]=Тема, соответствующая текущим системным цветам (оптимизирована для стиля Oxygen)
Comment[sl]=Tema, ki uporablja trenutne sistemske barve (optimizirana za slog Kisik)
Comment[sr]=Тема која одговара текућим системским бојама (оптимизована уз Кисеоник)
Comment[sr@latin]=Tema koja odgovara tekućim sistemskim bojama (optimizovana uz Kiseonik)
Comment[sv]=Tema som motsvarar nuvarande systemfärger (optimerad för stilen Oxygen)
Comment[tr]=Geçerli sistem renkleri ile uyumlu bir tema (Oxygen biçimi için iyileştirilmiş)
Comment[uk]=Тема, що відповідає поточним системним кольорам (Оптимізовано зі стилем Oxygen)
Comment[x-test]=xxTheme that matches current system colors (Optimized with Oxygen style)xx
Comment[zh_CN]=和当前系统颜色相配的主题(针对 Oxygen 风格优化)
Comment[zh_TW]=符合目前系統顏色的主題（依 Oxygen 樣式最佳化）
X-KDE-PluginInfo-Author=Jamboarder
X-KDE-PluginInfo-Email=jamboarder@yahoo.com
X-KDE-PluginInfo-Name=Aya
X-KDE-PluginInfo-Version=2.0.2
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
