[Desktop Entry]
Name=Aya
Name[ast]=Aya
Name[bg]=Ая
Name[bs]=Aja
Name[ca]=Aya
Name[ca@valencia]=Aya
Name[cs]=Aya
Name[da]=Aya
Name[de]=Aya
Name[el]=Aya
Name[en_GB]=Aya
Name[eo]=Aya
Name[es]=Aya
Name[et]=Aya
Name[eu]=Aya
Name[fi]=Aya
Name[fr]=Aya
Name[ga]=Aya
Name[gl]=Aya
Name[hu]=Aya
Name[is]=Aya
Name[it]=Aya
Name[ja]=Aya
Name[kk]=Aya
Name[ko]=Aya
Name[lt]=Aya
Name[lv]=Aya
Name[mk]=Аја
Name[nb]=Aya
Name[nds]=Aya
Name[nl]=Aya
Name[nn]=Aya
Name[pa]=ਆਇਆ
Name[pl]=Aya
Name[pt]=Aya
Name[pt_BR]=Aya
Name[ro]=Aya
Name[ru]=Аят
Name[sk]=Aya
Name[sl]=Aya
Name[sq]=Aya
Name[sr]=Аја
Name[sr@ijekavian]=Аја
Name[sr@ijekavianlatin]=Aya
Name[sr@latin]=Aya
Name[sv]=Aya
Name[tr]=Aya
Name[uk]=Ая
Name[x-test]=xxAyaxx
Name[zh_CN]=Aya
Name[zh_TW]=Aya
Comment=Theme that matches current system colors (Optimized with Oxygen style)
Comment[ast]=Tema que concasa colos colores del sistema (Optimizáu pal estilu Oxygen)
Comment[bg]=Изглед с текущите системни цветове (оптимизиран за стила Oxugen)
Comment[bs]=Tema koja se podudara sa trenutnim sistemom boja (Optimizirano sa stilom kiseonik)
Comment[ca]=Tema que coincideix amb els colors del sistema actual (optimitzat amb l'estil Oxygen)
Comment[ca@valencia]=Tema que coincideix amb els colors del sistema actual (optimitzat amb l'estil Oxygen)
Comment[cs]=Motiv, který odpovídá aktuálním systémovým barvám (Sladěno se stylem Oxygen)
Comment[da]=Tema som matcher aktuelle systemfarver (optimeret til Oxygen-stil)
Comment[de]=Design, das sich nach den Systemfarben richtet (Optimiert für Oxygen-Stil)
Comment[el]=Θέμα που ταιριάζει με τα τρέχοντα χρώματα του συστήματος (βελτιστοποιημένο με το στυλ Oxygen)
Comment[en_GB]=Theme that matches current system colours (Optimised with Oxygen style)
Comment[es]=Tema que coincide con los colores del sistema (Optimizado para el estilo Oxygen)
Comment[et]=Aktiivsete süsteemi värvidega sobituv teema (optimeeritud Oxygeni stiilile)
Comment[eu]=Uneko sistemako koloreekin bat datorren gaia (Oxygen estiloarekin optimizatua)
Comment[fi]=Teema, joka sopeutuu järjestelmän väreihin (optimoitu Oxygen-tyylille)
Comment[fr]=Un thème qui correspond aux couleurs systèmes (optimisé pour le style Oxygen)
Comment[ga]=Téama comhoiriúnaithe do dhathanna an chórais (Optamaithe le stíl Oxygen)
Comment[gl]=Un tema que concorda coas cores actuais do sistema (Optimizado co estilo Oxygen)
Comment[hr]=Tema koja je podudarna bojama sustava (optimizirana Oxygen stilom)
Comment[hu]=Téma a beállított rendszerszínek felhasználásával (optimalizált az Oxygen stílushoz)
Comment[is]=Þema sem samræmist núverandi kerfislitum (aðlagað Oxygen stílnum)
Comment[it]=Tema che si adatta ai colori di sistema (ottimizzato per lo stile Oxygen)
Comment[ja]=現在のシステム色にマッチするテーマ (Oxygen スタイル用に最適化)
Comment[kk]=Жүйе қолданыстағы түстерге сәйкес нақышы (Oxygen стилімен пайдалануға ыңғайланған)
Comment[ko]=현재 시스템 색상과 일치하는 테마 (Oxygen 스타일에 최적화됨)
Comment[lt]=Tema, kuri atitinka esamas sistemos spalvas (optimizuota su Oxygen stiliumi)
Comment[lv]=Tēma, kas saskan ar pašreizējām sistēmas krāsām (optimizēta Oxygen stilam)
Comment[mk]=Тема што одговара на тековните системски бои (оптимизирана со стилот Оксиген)
Comment[nb]=Tema som passer til gjeldende systemfarger (optimalisert med Oxygen-stil)
Comment[nds]=Muster, dat to de aktuellen Systeemklören passt (topasst för Oxygen-Stil)
Comment[nl]=Thema dat bij de huidige systeemkleuren past (geoptimaliseerd met de Oxygen-stijl)
Comment[nn]=Tema som brukar systemfargane (optimert for stilen Oksygen)
Comment[pl]=Motyw pasujący do obecnych kolorów systemowych (optymalizowany dla stylu Oxygen)
Comment[pt]=Tema que corresponde às cores actuais do sistema (Optimizado com o estilo Oxygen)
Comment[pt_BR]=Um tema que corresponde às cores atuais do sistema (Otimizado com o estilo Oxygen)
Comment[ro]=Tematică ce se potrivește cu opțiunille de culoare ale sistemului (optimizată cu stilul Oxygen)
Comment[ru]=Стиль, соответствующий текущим системным цветам (оптимизирован для стиля графических элементов Oxygen)
Comment[sk]=Motív, ktorý zodpovedá aktuálnym systémovým farbám (zladený so štýlom Oxygen)
Comment[sl]=Tema, ki uporablja trenutne sistemske barve (optimizirana za slog Kisik)
Comment[sq]=Temë e cila përputhet me ngjyrat e tanishme të sistemit (E përmirësuar me stilin Oksigjen)
Comment[sr]=Тема која одговара текућим системским бојама (оптимизована уз Кисеоник)
Comment[sr@ijekavian]=Тема која одговара текућим системским бојама (оптимизована уз Кисеоник)
Comment[sr@ijekavianlatin]=Tema koja odgovara tekućim sistemskim bojama (optimizovana uz Kiseonik)
Comment[sr@latin]=Tema koja odgovara tekućim sistemskim bojama (optimizovana uz Kiseonik)
Comment[sv]=Tema som motsvarar nuvarande systemfärger (optimerad för stilen Oxygen)
Comment[tr]=Geçerli sistem renkleri ile uyumlu bir tema (Oxygen biçimi için iyileştirilmiş)
Comment[uk]=Тема, що відповідає поточним системним кольорам (Оптимізовано зі стилем Oxygen)
Comment[x-test]=xxTheme that matches current system colors (Optimized with Oxygen style)xx
Comment[zh_CN]=和当前系统颜色相配的主题(针对 Oxygen 风格优化)
Comment[zh_TW]=符合目前系統顏色的主題（依 Oxygen 樣式最佳化）
X-KDE-PluginInfo-Author=Jamboarder
X-KDE-PluginInfo-Email=jamboarder@yahoo.com
X-KDE-PluginInfo-Name=Aya
X-KDE-PluginInfo-Version=2.0.2
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
