[Desktop Entry]
Name=Vector Sunset
Name[bg]=Векторен залез
Name[ca]=Posta de sol vectorial
Name[cs]=Vektoriální západ Slunce
Name[da]=Vector Sunset
Name[de]=Vektor-Sonnenuntergang
Name[el]=Διάνυσμα Ηλιοβασιλέματος
Name[en_GB]=Vector Sunset
Name[es]=Ocaso vectorial
Name[et]=Vektorloojang
Name[fr]=Coucher de soleil
Name[gl]=Solpor vectorial
Name[hu]=Vektoros naplemente
Name[is]=Sólstafir
Name[it]=Tramonto vettoriale
Name[nb]=Vektor-solnedgang
Name[nds]=Sünnvektor
Name[nl]=Zonsondergang met vector
Name[nn]=Vektorisert solnedgang
Name[pl]=Wektorowy zachód słońca
Name[pt]=Pôr-do-Sol Vectorial
Name[pt_BR]=Pôr do sol vetorial
Name[ru]=Закат
Name[sl]=Vektorski Sončev zahod
Name[sr]=Векторски залазак
Name[sr@latin]=Vektorski zalazak
Name[sv]=Vektorsolnedgång
Name[tr]=Günbatımı
Name[uk]=Векторний захід сонця
Name[x-test]=xxVector Sunsetxx
Name[zh_CN]=矢量黄昏
Name[zh_TW]=日落餘暉

X-KDE-PluginInfo-Name=Vector_Sunset
X-KDE-PluginInfo-Author=Nuno Pinheiro & Vlad Gerasimov
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org & vladstudio@gmail.com
X-KDE-PluginInfo-License=LGPLv3
