[Desktop Entry]
Name=Heron
Name[bg]=Херон
Name[ca]=Heron
Name[cs]=Heron
Name[da]=Heron
Name[de]=Heron
Name[el]=Heron
Name[en_GB]=Heron
Name[es]=Garza
Name[et]=Heron
Name[eu]=Lertxuna
Name[fr]=Héron
Name[ga]=Heron
Name[gl]=Heron
Name[hu]=Heron
Name[is]=Heron
Name[it]=Airone
Name[ja]=Heron
Name[lv]=Gārnis
Name[mk]=Херон
Name[nb]=Hegre
Name[nds]=Heron
Name[nl]=Heron
Name[nn]=Hegre
Name[pl]=Heron
Name[pt]=Garça
Name[pt_BR]=Garça
Name[ru]=Цапля
Name[sl]=Heron
Name[sr]=Херон
Name[sr@latin]=Heron
Name[sv]=Häger
Name[tr]=Heron
Name[uk]=Герон
Name[x-test]=xxHeronxx
Name[zh_CN]=鹭
Name[zh_TW]=Heron
Comment=Simple, smooth theme
Comment[bg]=Опростена и удобна тема
Comment[ca]=Tema senzill i suau
Comment[cs]=Jednouché, jemné téma
Comment[da]=Simplet, poleret tema
Comment[de]=Schlichtes, weiches Design
Comment[el]=Απλό, ομαλό θέμα
Comment[en_GB]=Simple, smooth theme
Comment[es]=Simple, tema ligero
Comment[et]=Lihtne mahe teema
Comment[eu]=Gai bakun leuna
Comment[fr]=Un thème simple et arrondi
Comment[ga]=Téama simplí slíoctha
Comment[gl]=Un tema simple
Comment[hu]=Egyszerű, sima téma
Comment[is]=Einfalt, hreinlegt þema
Comment[it]=Tema semplice e piatto
Comment[ja]=シンプルで洗練されたテーマ
Comment[lv]=Vienkārša, gluda tēma
Comment[mk]=Едноставна, мазна тема
Comment[nb]=Enkelt, jevnt tema
Comment[nds]=Eenfach, week Muster
Comment[nl]=Eenvoudig, zacht thema
Comment[nn]=Enkelt og glatt tema
Comment[pl]=Prosty, wygładzony motyw
Comment[pt]=Tema simples e suave
Comment[pt_BR]=Tema suave, simples
Comment[ro]=Tematică simplă, netedă
Comment[ru]=Простая приятная тема
Comment[sl]=Preprosta in mehka tema
Comment[sr]=Једноставна, глатка тема
Comment[sr@latin]=Jednostavna, glatka tema
Comment[sv]=Enkelt, jämnt tema
Comment[tr]=Basit, düz tema
Comment[uk]=Проста, гладенька тема
Comment[x-test]=xxSimple, smooth themexx
Comment[zh_CN]=简单、流畅的主题
Comment[zh_TW]=簡單，平順的主題

X-KDE-PluginInfo-Author=Lukas Gianinazzi
X-KDE-PluginInfo-Email=redict-dot-info(at)gmx.com
X-KDE-PluginInfo-Name=heron
X-KDE-PluginInfo-Version=pre0.32
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
