[Desktop Entry]
Name=KStep
Name[bg]=KStep
Name[br]=KStep
Name[ca]=KStep
Name[cs]=KStep
Name[cy]=KCam
Name[da]=KStep
Name[de]=KStep
Name[el]=KStep
Name[en_GB]=KStep
Name[eo]=KStep
Name[es]=KStep
Name[et]=KStep
Name[eu]=KStep
Name[fi]=KStep
Name[fr]=KStep
Name[fy]=KStep
Name[ga]=KStep
Name[gl]=KStep
Name[he]=KStep
Name[hne]=के-स्टेप
Name[hu]=KStep
Name[is]=KStep
Name[it]=KStep
Name[ja]=KStep
Name[lt]=KStep
Name[lv]=KStep
Name[mk]=KStep
Name[ml]=കെസ്റ്റെപ്പ്
Name[ms]=KStep
Name[nb]=KStep
Name[nds]=KStep
Name[ne]=केडीई चरण
Name[nl]=KStep
Name[nn]=KStep
Name[pl]=KStep
Name[pt]=KStep
Name[pt_BR]=KStep
Name[ro]=KStep
Name[ru]=KStep
Name[sk]=KStep
Name[sl]=KStep
Name[sr]=К‑степ
Name[sr@latin]=KStep
Name[sv]=Kstep
Name[ta]=Kஅடி
Name[tg]=KStep
Name[tr]=KStep
Name[uk]=KStep
Name[uz]=KStep
Name[uz@cyrillic]=KStep
Name[vi]=KStep
Name[xh]=Inqwanqwa le K
Name[x-test]=xxKStepxx
Name[zh_CN]=KStep
Name[zh_TW]=KStep
X-KDE-Library=kwin3_kstep
