[Desktop Entry]
Name=Blend
Name[bg]=Преливка
Name[ca]=Barreja
Name[cs]=Mísení
Name[da]=Blend
Name[de]=Blend
Name[el]=Μείγμα
Name[en_GB]=Blend
Name[es]=Mezcla
Name[et]=Blend
Name[fr]=Fondu
Name[gl]=Mistura
Name[hu]=Blend
Name[is]=Blöndun
Name[it]=Miscela
Name[lv]=Blend
Name[mai]=मिलाबू
Name[nb]=Blend
Name[nds]=Blend
Name[nl]=Mengsel
Name[nn]=Bland
Name[pa]=ਬਲੈਂਡ
Name[pl]=Przenikanie
Name[pt]=Fusão
Name[pt_BR]=Mistura
Name[ro]=Îmbinare
Name[ru]=Оттенки
Name[sl]=Blend
Name[sr]=Стапање
Name[sr@latin]=Stapanje
Name[sv]=Sammansmältning
Name[tr]=Blend
Name[uk]=Суміш
Name[x-test]=xxBlendxx
Name[zh_CN]=清澈
Name[zh_TW]=混合
Comment=A consistent looking theme with an elegant touch.
Comment[bg]=Консистентен изглед с привкус на елегантност.
Comment[ca]=Un tema d'aparença consistent amb un toc elegant.
Comment[cs]=Konsistentně vypadající motiv s nádechem elegance.
Comment[da]=Et tema med et konsistent udseende og et elegant præg.
Comment[de]=Ein einheitlich aussehendes Design mit einem Hauch von Eleganz.
Comment[el]=Ένα σταθερό στην όψη θέμα με μία εκλεπτυγμένη προσέγγιση.
Comment[en_GB]=A consistent looking theme with an elegant touch.
Comment[es]=Un tema visual consistente y con un toque elegante.
Comment[et]=Ühtlase välimusega elegantne teema
Comment[fr]=Un thème cohérent avec une touche d'élégance
Comment[gl]=Un tema cunha aparencia consistente e un toque de elegancia.
Comment[hu]=Szépen felépített és elegáns téma.
Comment[is]=Samstætt þema með virðulegum blæ.
Comment[it]=Un tema dall'aspetto coerente con un tocco di eleganza.
Comment[nb]=Et tema med gjennomført utseende og en elegant touch.
Comment[nds]=En tosamenhangen Muster mit en elegant Röök.
Comment[nl]=Een consistent uitziend thema met een elegante toets.
Comment[nn]=Eit tema med gjennomført utsjånad og ein viss eleganse.
Comment[pl]=Spójnie wyglądający i elegancki motyw.
Comment[pt]=Um tema de aspecto consistente com um toque elegante.
Comment[pt_BR]=Uma tema com aparência consistente e com um toque elegante.
Comment[ru]=Тема с элегантными оттенками.
Comment[sl]=Tema s konsistentnim videzom in s ščepcem elegance.
Comment[sr]=Тема доследног изгледа с наговештајем елеганције.
Comment[sr@latin]=Tema doslednog izgleda s nagoveštajem elegancije.
Comment[sv]=Ett tema med konsekvent utseende och elegant prägel.
Comment[tr]=Şık bir kalıcı tema.
Comment[uk]=Однорідна тема з відтінком елегантності.
Comment[x-test]=xxA consistent looking theme with an elegant touch.xx
Comment[zh_TW]=優雅而一致的外觀主題

X-KDE-PluginInfo-Author=Sean Wilson
X-KDE-PluginInfo-Email=suseux@gmail.com
X-KDE-PluginInfo-Name=Clean-Blend
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4.2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
