[Desktop Entry]
Name=Slim Glow
Name[bg]=Тънко сияние
Name[ca]=Slim Glow
Name[cs]=Tenká záře
Name[da]=Slim Glow
Name[de]=Slim Glow
Name[el]=Slim Glow
Name[en_GB]=Slim Glow
Name[es]=Fino resplandor
Name[et]=Slim Glow
Name[eu]=Dirdira mehea
Name[fr]=Lueur légère
Name[ga]=Slim Glow
Name[gl]=Brillo estreito
Name[hu]=Slim Glow
Name[is]=Þunnur gljái
Name[it]=Lieve bagliore
Name[ja]=Slim Glow
Name[lv]=Slim Glow
Name[nb]=Slank glød
Name[nds]=Slim Glow
Name[nl]=Slim Glow
Name[nn]=Slank glød
Name[pa]=ਸਲਿਮ ਗਲੋ
Name[pl]=Wąska poświata
Name[pt]=Brilho Leve
Name[pt_BR]=Brilho leve
Name[ro]=Lucire fină
Name[ru]=Свечение
Name[sl]=Slim Glow
Name[sr]=Нежни сјај
Name[sr@latin]=Nežni sjaj
Name[sv]=Elegant glöd
Name[tr]=Slim Glow
Name[uk]=Тьмяне сяйво
Name[x-test]=xxSlim Glowxx
Name[zh_CN]=淡淡赤光
Name[zh_TW]=Slim Glow
Comment=Slick theme for dark wallpapers
Comment[bg]=Тема за тъмни тапети
Comment[ca]=Tema enginyós per a papers pintats foscos
Comment[cs]=Uhlazený motiv pro tmavé tapety
Comment[da]=Glat tema til mørke baggrundsbilleder
Comment[de]=Design für dunkle Hintergrundbilder
Comment[el]=Λεπτό θέμα για σκοτεινές ταπετσαρίες
Comment[en_GB]=Slick theme for dark wallpapers
Comment[es]=Tema alisado para fondos oscuros
Comment[et]=Šikk teema tumedatele taustapiltidele
Comment[eu]=Horma-paper ilunentzako gai leuna
Comment[fr]=Un thème adapté aux fonds d'écran sombres
Comment[ga]=Téama snasta do chúlbhrat dorcha
Comment[gl]=Un tema para fondos de escritorio escuros
Comment[hu]=Stílusos téma sötét háttérképekhez
Comment[is]=Rennilegt þema fyrir dökka bakgrunna
Comment[it]=Tema "liscio" per sfondi scuri
Comment[ja]=暗い色の壁紙にマッチするおしゃれなテーマ
Comment[lv]=Spīdīga tēma tumšām ekrāntapetēm
Comment[mk]=Глатка тема за темни тапети
Comment[nb]=Glatt tema for mørke bakgrunner
Comment[nds]=Glatt Muster för düüster Achtergrundbiller
Comment[nl]=Elegant thema voor donkere achtergrondafbeeldingen
Comment[nn]=Glatt tema for mørke bakgrunnsbilete
Comment[pl]=Motyw dostosowany do ciemnych tapet
Comment[pt]=Tema leve para papéis de parede escuros
Comment[pt_BR]=Tema agradável para papéis de parede escuros
Comment[ru]=Светящаяся тема для темного рабочего стола
Comment[sl]=Gladka tema za temna ozadja
Comment[sr]=Елегантна тема за тамне тапете
Comment[sr@latin]=Elegantna tema za tamne tapete
Comment[sv]=Elegant tema för mörka skrivbordsunderlägg
Comment[tr]=Koyu duvar kağıtları için Slick teması
Comment[uk]=Приваблива тема для темного тла стільниці
Comment[x-test]=xxSlick theme for dark wallpapersxx
Comment[zh_CN]=适合暗色壁纸的光滑主题
Comment[zh_TW]=暗桌布的平凡主題

X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic+kde(at)gmail.com
X-KDE-PluginInfo-Name=slim-glow
X-KDE-PluginInfo-Version=1.80
X-KDE-PluginInfo-Website=http://ivan.fomentgroup.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
