[Desktop Entry]
Name=Slim Glow
Name[ast]=Resplandor finu
Name[bg]=Тънко сияние
Name[bs]=Tanki sjaj
Name[ca]=Slim Glow
Name[ca@valencia]=Slim Glow
Name[cs]=Tenká záře
Name[da]=Slim Glow
Name[de]=Slim Glow
Name[el]=Slim Glow
Name[en_GB]=Slim Glow
Name[es]=Fino resplandor
Name[et]=Slim Glow
Name[eu]=Dirdira mehea
Name[fi]=Ohut hehku
Name[fr]=Lueur légère
Name[ga]=Slim Glow
Name[gl]=Brillo estreito
Name[hu]=Slim Glow
Name[is]=Þunnur gljái
Name[it]=Lieve bagliore
Name[ja]=Slim Glow
Name[kk]=Сәл жарқырау
Name[ko]=슬림 글로
Name[lt]=Slim Glow
Name[lv]=Slim Glow
Name[nb]=Slank glød
Name[nds]=Slim Glow
Name[nl]=Slim Glow
Name[nn]=Slank glød
Name[pa]=ਸਲਿਮ ਗਲੋ
Name[pl]=Wąska poświata
Name[pt]=Brilho Leve
Name[pt_BR]=Brilho leve
Name[ro]=Lucire fină
Name[ru]=Свечение
Name[sk]=Tenká žiara
Name[sl]=Slim Glow
Name[sq]=Slim Glow
Name[sr]=Нежни сјај
Name[sr@ijekavian]=Њежни сјај
Name[sr@ijekavianlatin]=Nježni sjaj
Name[sr@latin]=Nežni sjaj
Name[sv]=Elegant glöd
Name[tr]=Slim Glow
Name[uk]=Тьмяне сяйво
Name[x-test]=xxSlim Glowxx
Name[zh_CN]=淡淡赤光
Name[zh_TW]=Slim Glow
Comment=Slick theme for dark wallpapers
Comment[ast]=Tema alisáu pa fondos escuros
Comment[bg]=Тема за тъмни тапети
Comment[bs]=Uglađena tema za tamne pozadine
Comment[ca]=Tema enginyós per a fons d'escriptori foscos
Comment[ca@valencia]=Tema enginyós per a fons d'escriptori foscos
Comment[cs]=Uhlazený motiv pro tmavé tapety
Comment[da]=Glat tema til mørke baggrundsbilleder
Comment[de]=Design für dunkle Hintergrundbilder
Comment[el]=Λείο θέμα για σκοτεινές ταπετσαρίες
Comment[en_GB]=Slick theme for dark wallpapers
Comment[es]=Tema alisado para fondos oscuros
Comment[et]=Šikk teema tumedatele taustapiltidele
Comment[eu]=Horma-paper ilunentzako gai leuna
Comment[fi]=Ohut teema tummille taustakuville
Comment[fr]=Un thème adapté aux fonds d'écran sombres
Comment[ga]=Téama snasta do chúlbhrat dorcha
Comment[gl]=Un tema para fondos de escritorio escuros
Comment[hr]=Glatka tema za tamne podloge
Comment[hu]=Stílusos téma sötét háttérképekhez
Comment[is]=Rennilegt þema fyrir dökka bakgrunna
Comment[it]=Tema adatto a sfondi scuri
Comment[ja]=暗い色の壁紙にマッチするおしゃれなテーマ
Comment[kk]=Күңгірт түсқағазбен қолданатын жарқраған нақыш
Comment[ko]=어두운 배경 그림을 위한 테마
Comment[lt]=Glotni tema tamsiems fonams
Comment[lv]=Spīdīga tēma tumšām ekrāntapetēm
Comment[mk]=Глатка тема за темни тапети
Comment[nb]=Glatt tema for mørke bakgrunner
Comment[nds]=Glatt Muster för düüster Achtergrundbiller
Comment[nl]=Elegant thema voor donkere achtergrondafbeeldingen
Comment[nn]=Glatt tema for mørke bakgrunnsbilete
Comment[pl]=Motyw dostosowany do ciemnych tapet
Comment[pt]=Tema leve para papéis de parede escuros
Comment[pt_BR]=Tema agradável para papéis de parede escuros
Comment[ro]=Tematică netedă pentru fundaluri întunecate
Comment[ru]=Светящийся стиль для тёмного рабочего стола
Comment[sk]=Uhladený motív pre tmavé tapety
Comment[sl]=Gladka tema za temna ozadja
Comment[sq]=Temë e përshtatshme për sfondet e errët
Comment[sr]=Елегантна тема за тамне тапете
Comment[sr@ijekavian]=Елегантна тема за тамне тапете
Comment[sr@ijekavianlatin]=Elegantna tema za tamne tapete
Comment[sr@latin]=Elegantna tema za tamne tapete
Comment[sv]=Elegant tema för mörka skrivbordsunderlägg
Comment[tr]=Koyu duvar kağıtları için Slick teması
Comment[uk]=Приваблива тема для темного тла стільниці
Comment[x-test]=xxSlick theme for dark wallpapersxx
Comment[zh_CN]=适合暗色壁纸的光滑主题
Comment[zh_TW]=暗桌布的平凡主題

X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic(at)kde.org
X-KDE-PluginInfo-Name=slim-glow
X-KDE-PluginInfo-Version=3.9
X-KDE-PluginInfo-Website=http://ivan.fomentgroup.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
