[Desktop Entry]
Name=CDE
Name[af]=Cde
Name[bg]=CDE
Name[br]=CDE
Name[ca]=CDE
Name[cs]=CDE
Name[cy]=CDE
Name[da]=CDE
Name[de]=CDE
Name[el]=CDE
Name[en_GB]=CDE
Name[eo]=CDE
Name[es]=CDE
Name[et]=CDE
Name[eu]=CDE
Name[fi]=CDE
Name[fr]=CDE
Name[fy]=CDE
Name[ga]=CDE
Name[gl]=CDE
Name[he]=CDE
Name[hne]=सीडीई
Name[hu]=CDE
Name[is]=CDE
Name[it]=CDE
Name[ja]=CDE
Name[lt]=CDE
Name[lv]=CDE
Name[mai]=CDE
Name[mk]=CDE
Name[ml]=സിഡിഇ
Name[ms]=CDE
Name[nb]=CDE
Name[nds]=CDE
Name[ne]=सीडीई
Name[nl]=CDE
Name[nn]=CDE
Name[pa]=CDE
Name[pl]=CDE
Name[pt]=CDE
Name[pt_BR]=CDE
Name[ro]=CDE
Name[ru]=CDE
Name[sk]=CDE
Name[sl]=CDE
Name[sr]=ЦДЕ
Name[sr@latin]=CDE
Name[sv]=CDE
Name[ta]=CDE
Name[tg]=CDE
Name[tr]=CDE
Name[uk]=CDE
Name[vi]=CDE
Name[xh]=CDE
Name[x-test]=xxCDExx
Name[zh_CN]=CDE
Name[zh_TW]=CDE
X-KDE-Library=kwin3_cde
