[Desktop Entry]
Name=Modern System
Name[bg]=Модерна система
Name[bs]=Moderni sistem
Name[ca]=Sistema modern
Name[ca@valencia]=Sistema modern
Name[cs]=Moderní systém
Name[da]=Moderne system
Name[de]=Modern System
Name[el]=Modern System
Name[en_GB]=Modern System
Name[es]=Sistema moderno
Name[et]=Modern System
Name[eu]=Sistema modernoa
Name[fi]=Moderni järjestelmä
Name[fr]=Système Moderne
Name[ga]=Córas Nua-Aimseartha
Name[gl]=Sistema moderno
Name[hu]=Modern rendszer
Name[it]=Sistema moderno
Name[kk]=Заманға сай жүйе
Name[lt]=Moderni sistema
Name[lv]=Moderna sistēma
Name[mai]=आधुनिक तंत्र
Name[nb]=Moderne System
Name[nds]=Modeern Systeem
Name[nl]=Modern systeem
Name[pl]=Nowoczesny system
Name[pt]=Sistema Moderno
Name[pt_BR]=Sistema moderno
Name[ru]=Модерн
Name[sk]=Moderný systém
Name[sl]=Moderen sistem
Name[sr]=Модерни систем
Name[sr@ijekavian]=Модерни систем
Name[sr@ijekavianlatin]=Moderni sistem
Name[sr@latin]=Moderni sistem
Name[sv]=Modern System
Name[tr]=Modern Sistem
Name[ug]=زامانىۋى سىستېما
Name[uk]=Сучасна система
Name[x-test]=xxModern Systemxx
Name[zh_CN]=现代系统
Name[zh_TW]=現代系統
X-KDE-Library=kwin3_modernsys
