[Desktop Entry]
Name=Lightning
Name[af]=Weerlig
Name[bg]=Светкавица
Name[br]=Luc'hed
Name[ca]=Llamp
Name[cs]=Blesky
Name[cy]=Mellt
Name[da]=Lyn
Name[de]=Blitz
Name[el]=Αστραπή
Name[en_GB]=Lightning
Name[eo]=Lumaĵo
Name[es]=Rayo
Name[et]=Välk
Name[eu]=Tximista
Name[fa]=آذرخش
Name[fi]=Salamat
Name[fr]=Éclairs
Name[fy]=Lightning
Name[ga]=Lightning
Name[gl]=Raio
Name[he]=ברקים
Name[hne]=बिजली-गिरना
Name[hu]=Villám
Name[is]=Eldingar
Name[it]=Lampo
Name[ja]=稲光
Name[lt]=Žaibas
Name[lv]=Zibens
Name[mk]=Молња
Name[ml]=ഇടിമിന്നല്‍
Name[ms]=Kilat
Name[nb]=Lyn
Name[nds]=Blix
Name[ne]=बिद्युत
Name[nl]=Lightning
Name[nn]=Lyn
Name[pl]=Błyskawica
Name[pt]=Relâmpago
Name[pt_BR]=Relâmpago
Name[ro]=Fulger
Name[ru]=Молния
Name[sk]=Svetelný
Name[sl]=Bliski
Name[sr]=Муње
Name[sr@latin]=Munje
Name[sv]=Blixten
Name[ta]=மின்னல்
Name[tg]=Оташак
Name[th]=ฟ้าแลบ
Name[tr]=Şimşek
Name[uk]=Блискавка
Name[uz]=Chaqmoq
Name[uz@cyrillic]=Чақмоқ
Name[vi]=Tia chớp
Name[xh]=Umbane
Name[x-test]=xxLightningxx
Name[zh_CN]=闪电
Name[zh_TW]=閃電

X-KDE-PluginInfo-Name=Lightning
X-KDE-PluginInfo-Author=Wojciech Mis
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
