[Desktop Entry]
Name=Glow
Name[af]=Gloei
Name[bg]=Glow
Name[br]=Lufrus
Name[ca]=Lluïssor
Name[cs]=Záře
Name[cy]=Gwrid
Name[da]=Glød
Name[de]=Glow
Name[el]=Λάμψη
Name[en_GB]=Glow
Name[eo]=Lumbrilo
Name[es]=Brillo
Name[et]=Helendus
Name[eu]=Dirdira
Name[fa]=درخشندگی
Name[fi]=Hehku
Name[fr]=Lueur
Name[fy]=Gloede
Name[ga]=Glow
Name[gl]=Brillante
Name[he]=Glow
Name[hne]=ग्लो
Name[hu]=Glow
Name[is]=Glóð
Name[it]=Bagliore
Name[ja]=輝き
Name[lt]=Švytėjimas
Name[lv]=Kvēlošana
Name[mai]=ग्लो
Name[mk]=Отсјај
Name[ml]=തിളക്കം
Name[ms]=Kilau
Name[nb]=Glød
Name[nds]=Glow
Name[ne]=चमक
Name[nl]=Gloed
Name[nn]=Glød
Name[pl]=Blask
Name[pt]=Glow
Name[pt_BR]=Glow
Name[ro]=Licărire
Name[ru]=Зарево
Name[sk]=Plameň
Name[sl]=Lesk
Name[sr]=Сијање
Name[sr@latin]=Sijanje
Name[sv]=Glöd
Name[ta]=ஒளிப்பெற்று
Name[tg]=Шафақ
Name[tr]=Parlama
Name[uk]=Заграва
Name[vi]=Hào quang
Name[xh]=Qukuqela
Name[x-test]=xxGlowxx
Name[zh_CN]=光芒
Name[zh_TW]=Glow
X-KDE-Library=kwin3_glow
