[Desktop Entry]
Name=Midnight in Karelia
Name[bg]=Среднощ в Карелия
Name[ca]=Mitjanit a Carèlia
Name[cs]=Půlnoc v Karélii
Name[da]=Midnat i Karelia
Name[de]=Mitternacht in Karelien
Name[el]=Μεσάνυχτα στην Karelia
Name[en_GB]=Midnight in Karelia
Name[es]=Medianoche en Karelia
Name[et]=Südaöö Karjalas
Name[fr]=Minuit à Karelia
Name[gl]=Medianoite en Karelia
Name[hu]=Éjszaka Karéliában
Name[is]=Miðnætti í Karelíu
Name[it]=Mezzanotte in Karelia
Name[nb]=Midnatt i Karelen
Name[nds]=Mittnacht in Karelien
Name[nl]=Middernacht in Karelia
Name[nn]=Midnatt i Karelen
Name[pl]=Północ w Karelii
Name[pt]=Meia-Noite em Karelia
Name[pt_BR]=Meia noite em Karelia
Name[ru]=Белая ночь в Карелии
Name[sl]=Polnoč v Kareliji
Name[sr]=Поноћ у Карелији
Name[sr@latin]=Ponoć u Kareliji
Name[sv]=Midnatt i Karelien
Name[tr]=Karelia'da Geceyarısı
Name[uk]=Північ у Карелії
Name[x-test]=xxMidnight in Kareliaxx
Name[zh_TW]=Karelia 的午夜

X-KDE-PluginInfo-Name=Midnight_in_Karelia
X-KDE-PluginInfo-Author=Анастасия Литвиненко (Anastasiya S. Litvinenk)
X-KDE-PluginInfo-Email=tasmanian.diablo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
