[Desktop Entry]
Name=Web
Name[bg]=Уеб
Name[bs]=Web
Name[ca]=Web
Name[ca@valencia]=Web
Name[cs]=Web
Name[da]=Web
Name[de]=Web
Name[el]=Web
Name[en_GB]=Web
Name[es]=Web
Name[et]=Veeb
Name[eu]=Web
Name[fi]=Web
Name[fr]=Web
Name[ga]=Web
Name[gl]=Web
Name[hu]=Web
Name[it]=Web
Name[kk]=Веб
Name[lt]=Žiniatinklis
Name[lv]=Tīmeklis
Name[mai]=वेब
Name[mr]=वेब
Name[nb]=Nett
Name[nds]=Internet
Name[nl]=Web
Name[pl]=Sieć
Name[pt]=Web
Name[pt_BR]=Web
Name[ru]=Веб
Name[sk]=Web
Name[sl]=Splet
Name[sr]=Веб
Name[sr@ijekavian]=Веб
Name[sr@ijekavianlatin]=Web
Name[sr@latin]=Web
Name[sv]=Webb
Name[tr]=Web
Name[ug]=تور
Name[uk]=Інтернет
Name[x-test]=xxWebxx
Name[zh_CN]=网页
Name[zh_TW]=網
X-KDE-Library=kwin3_web
