[Desktop Entry]
Name=Quartz
Name[bg]=Кварц
Name[bs]=Kvarc
Name[ca]=Quartz
Name[ca@valencia]=Quartz
Name[cs]=Quartz
Name[da]=Quartz
Name[de]=Quartz
Name[el]=Quartz
Name[en_GB]=Quartz
Name[es]=Quartz
Name[et]=Quartz
Name[eu]=Kuartzo
Name[fi]=Kvartsi
Name[fr]=Quartz
Name[ga]=Quartz
Name[gl]=Quartz
Name[hu]=Quartz
Name[it]=Quarzo
Name[kk]=Кварц
Name[lt]=Quartz
Name[lv]=Kvarcs
Name[mai]=क्वार्ट्ज
Name[nb]=Quartz
Name[nds]=Quartz
Name[nl]=Quartz
Name[pl]=Kwarc
Name[pt]=Quartz
Name[pt_BR]=Quartzo
Name[ru]=Кварц
Name[sk]=Quartz
Name[sl]=Kvarc
Name[sr]=Кварц
Name[sr@ijekavian]=Кварц
Name[sr@ijekavianlatin]=Kvarc
Name[sr@latin]=Kvarc
Name[sv]=Quartz
Name[tr]=Quartz
Name[uk]=Кварц
Name[x-test]=xxQuartzxx
Name[zh_CN]=石英
Name[zh_TW]=石英
X-KDE-Library=kwin3_quartz
