[Desktop Entry]
Name=Tibanna
Name[bs]=Tibana
Name[ca]=Tibanna
Name[ca@valencia]=Tibanna
Name[cs]=Tibanna
Name[da]=Tibanna
Name[de]=Tibanna
Name[el]=Tibanna
Name[en_GB]=Tibanna
Name[es]=Tibanna
Name[et]=Tibanna
Name[eu]=Tibanna
Name[fi]=Tibanna
Name[fr]=Tibanna
Name[ga]=Tibanna
Name[gl]=Tibanna
Name[hu]=Tibanna
Name[it]=Tibanna
Name[kk]=Tibanna
Name[lt]=Tibanna
Name[lv]=Tibanna
Name[nb]=Tibanna
Name[nds]=Tibanna
Name[nl]=Tibanna
Name[pl]=Tibanna
Name[pt]=Tibanna
Name[pt_BR]=Tibanna
Name[ru]=Tibanna
Name[sk]=Tibanna
Name[sl]=Tibanna
Name[sr]=Тибана
Name[sr@ijekavian]=Тибана
Name[sr@ijekavianlatin]=Tibanna
Name[sr@latin]=Tibanna
Name[sv]=Tibanna
Name[tr]=Tibanna
Name[uk]=Тібанна
Name[x-test]=xxTibannaxx
Name[zh_CN]=Tibanna
Name[zh_TW]=Tibanna

Comment=Elegant simple theme that follows system colors
Comment[bg]=Проста елегантна тема със системни цветове
Comment[bs]=Jednostavna elegantna tema koja prati sistemske boje
Comment[ca]=Un tema senzill i elegant que segueix els colors del sistema
Comment[ca@valencia]=Un tema senzill i elegant que segueix els colors del sistema
Comment[da]=Elegant simpelt tema som følger systemets farvetema
Comment[de]=Ein elegantes klares Design, das sich an das Standard-Farbschema anpasst
Comment[el]=Κομψό απλό θέμα που ακολουθεί τα χρώματα του συστήματος
Comment[en_GB]=Elegant simple theme that follows system colours
Comment[es]=Teme sencillo y elegante que usa los colores del sistema
Comment[et]=Elegantne lihtne teema, mis järgib süsteemseid värve
Comment[eu]=Gai dotore xumea sistemaren koloreak jarraitzen dituena
Comment[fi]=Yksinkertainen elegantti teema, joka noudattaa järjestelmän värejä
Comment[fr]=Un thème simple et sobre et se fond joliment avec les couleurs par défaut du système
Comment[ga]=Téama simplí glan a úsáideann dathanna an chórais
Comment[gl]=Un tema simple e elegante que segue o esquema de cores predeterminado
Comment[hu]=Egyszerű, elegáns, a rendszerszínekhez igazodó téma
Comment[it]=Tema semplice ed elegante che segue i colori di sistema
Comment[kk]=Қарапайым, әсем,жүйе түстерін қайталайтын нақыш
Comment[lt]=Elegantiška paprasta tema, kuri laikosi sistemos spalvų
Comment[lv]=Eleganta, vienkārša tēma, kas pielāgojas sistēmas krāsām
Comment[nb]=Elegant enkelt tema som følger standard fargeskjema
Comment[nds]=Elegant un oprüümt Muster, dat sik de Systeemklören anpasst
Comment[nl]=Elegant eenvoudig thema dat bij de systeemkleuren past
Comment[pl]=Elegancki prosty motyw przyjmujący kolory systemowe
Comment[pt]=Tema simples e elegante que segue as cores do sistema
Comment[pt_BR]=Tema elegante e simples que segue as cores do sistema
Comment[ru]=Простая и элегантная тема, использующая текущую цветовую схему
Comment[sk]=Elegantná jednoduchá téma, ktorá používa systémové farby
Comment[sl]=Elegantna preprosta tema, ki uporablja sistemske barve
Comment[sr]=Једноставна елегантна тема која прати системске боје
Comment[sr@ijekavian]=Једноставна елегантна тема која прати системске боје
Comment[sr@ijekavianlatin]=Jednostavna elegantna tema koja prati sistemske boje
Comment[sr@latin]=Jednostavna elegantna tema koja prati sistemske boje
Comment[sv]=Elegant enkelt tema som följer systemfärgerna
Comment[tr]=Sistem renklerine uyumlu, basit ve güzel bir tema
Comment[uk]=Проста елегантна тема, у якій використано схеми кольорів системи
Comment[x-test]=xxElegant simple theme that follows system colorsxx
Comment[zh_CN]=使用系统颜色的优雅简洁的主题
Comment[zh_TW]=優美而簡單的主題，使用系統顏色機制

X-KDE-PluginInfo-Author=Robert Metsäranta
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Tibanna
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://th3r0b.deviantart.com/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
