[Desktop Entry]
Name=Silicon
Name[bg]=Силиций
Name[ca]=Silicon
Name[cs]=Silikon
Name[da]=Silicon
Name[de]=Silicon
Name[el]=Silicon
Name[en_GB]=Silicon
Name[es]=Silicio
Name[et]=Silicon
Name[eu]=Silikona
Name[fr]=Silicone
Name[ga]=Silicon
Name[gl]=Silicio
Name[hu]=Silicon
Name[is]=Kísill
Name[it]=Silicio
Name[ja]=Silicon
Name[lv]=Silikons
Name[mk]=Силикон
Name[nb]=Silikon
Name[nds]=Silizium
Name[nl]=Silicon
Name[nn]=Silisium
Name[pa]=ਸਿਲੀਕਾਨ
Name[pl]=Krzem
Name[pt]=Silicone
Name[pt_BR]=Silicone
Name[ro]=Siliciu
Name[ru]=Кремний
Name[sl]=Silicon
Name[sr]=Силицијум
Name[sr@latin]=Silicijum
Name[sv]=Kisel
Name[tr]=Silicon
Name[uk]=Кремній
Name[x-test]=xxSiliconxx
Name[zh_CN]=光滑
Name[zh_TW]=Silicon
Comment=Transparent slim theme
Comment[bg]=Прозрачна минималистична тема
Comment[ca]=Tema fi i transparent
Comment[cs]=Průhledné jemné téma
Comment[da]=Gennemsigtigt spinkelt tema
Comment[de]=Schlankes Design mit Transparenz
Comment[el]=Διαφανές λεπτό θέμα
Comment[en_GB]=Transparent slim theme
Comment[es]=Tema delgado transparente
Comment[et]=Läbipaistev õhuline teema
Comment[eu]=Gai mehe gardena
Comment[fr]=Un thème léger et transparent
Comment[ga]=Téama caol trédhearcach
Comment[gl]=Un tema transparente e lixeiro
Comment[hu]=Áttetsző, finom téma
Comment[is]=Gegnsætt létt þema
Comment[it]=Tema snello e trasparente
Comment[ja]=半透明のスリムなテーマ
Comment[lv]=Caurspīdīga slaida tēma
Comment[mk]=Проѕирна тенка тема
Comment[nb]=Gjennomsiktig slankt tema
Comment[nds]=Dörschienen slank Muster
Comment[nl]=Transparant, slank thema
Comment[nn]=Gjennomsiktig og slankt tema
Comment[pl]=Przezroczysty, prosty motyw
Comment[pt]=Tema leve e transparente
Comment[pt_BR]=Tema fino e transparente
Comment[ro]=Tematică transparentă suavă
Comment[ru]=Изящная тема с прозрачностью
Comment[sl]=Prosojna in vitka tema
Comment[sr]=Провидна нежна тема
Comment[sr@latin]=Providna nežna tema
Comment[sv]=Genomskinligt smalt tema
Comment[tr]=Şeffaf ince tema
Comment[uk]=Прозора струнка тема
Comment[x-test]=xxTransparent slim themexx
Comment[zh_CN]=透明的简化主题
Comment[zh_TW]=透明的主題

X-KDE-PluginInfo-Author=Lukas Gianinazzi
X-KDE-PluginInfo-Email=redict-dot-info(at)gmx.com
X-KDE-PluginInfo-Name=Silicon
X-KDE-PluginInfo-Version=1.99
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
