[Desktop Entry]
Name=Colorado Farm
Name[bg]=Ферма в Колорадо
Name[ca]=Granja de Colorado
Name[cs]=Farma v Coloradu
Name[da]=Colorado Farm
Name[de]=Colorado-Farm
Name[el]=Φάρμα Κολοράντο
Name[en_GB]=Colorado Farm
Name[es]=Granja de Colorado
Name[et]=Colorado farm
Name[eu]=Colorado-ko baserria
Name[fr]=Ferme du Colorado
Name[ga]=Colorado Farm
Name[gl]=Granxa de Colorado
Name[hu]=Colorado Farm
Name[is]=Býli í Colorado
Name[it]=Fattoria del colorado
Name[lt]=Kolorado ferma
Name[lv]=Kolorado ferma
Name[nb]=Gård i Colorado
Name[nds]=Colorado-Hoff
Name[nl]=Colorado Farm
Name[nn]=Gard i Colorado
Name[pl]=Farma w Kolorado
Name[pt]=Quinta do Colorado
Name[pt_BR]=Fazenda do Colorado
Name[ru]=Ранчо в Колорадо
Name[sl]=Kmetija v Koloradu
Name[sr]=Фарма у Колораду
Name[sr@latin]=Farma u Koloradu
Name[sv]=Lantbruk i Colorado
Name[tr]=Colorado Çiftliği
Name[uk]=Ферма у Колорадо
Name[x-test]=xxColorado Farmxx
Name[zh_CN]=科罗拉多农场
Name[zh_TW]=科羅拉多農場
X-KDE-PluginInfo-Name=Colorado_Farm
X-KDE-PluginInfo-Author=Scott Ingram
X-KDE-PluginInfo-Email=scingram@yahoo.com
X-KDE-PluginInfo-License=LGPLv3
