[Desktop Entry]
Name=KDE 2
Name[bg]=KDE 2
Name[bs]=KDE 2
Name[ca]=KDE 2
Name[ca@valencia]=KDE 2
Name[cs]=KDE 2
Name[da]=KDE 2
Name[de]=KDE 2
Name[el]=KDE 2
Name[en_GB]=KDE 2
Name[es]=KDE 2
Name[et]=KDE 2
Name[eu]=KDE 2
Name[fi]=KDE 2
Name[fr]=KDE 2
Name[ga]=KDE 2
Name[gl]=KDE 2
Name[hu]=KDE 2
Name[it]=KDE 2
Name[ja]=KDE 2
Name[kk]=KDE 2
Name[lt]=KDE 2
Name[lv]=KDE 2
Name[mai]=केडीई 2
Name[mr]=केडीई  2
Name[nb]=KDE 2
Name[nds]=KDE 2
Name[nl]=KDE 2
Name[pa]=KDE 2
Name[pl]=KDE 2
Name[pt]=KDE 2
Name[pt_BR]=KDE 2
Name[ru]=KDE 2
Name[sk]=KDE 2
Name[sl]=KDE 2
Name[sr]=КДЕ‑2
Name[sr@ijekavian]=КДЕ‑2
Name[sr@ijekavianlatin]=KDE2
Name[sr@latin]=KDE2
Name[sv]=KDE 2
Name[tr]=KDE 2
Name[ug]=KDE 2
Name[uk]=KDE 2
Name[x-test]=xxKDE 2xx
Name[zh_CN]=KDE 2
Name[zh_TW]=KDE 2
X-KDE-Library=kwin3_kde2
