[Desktop Entry]
Name=Elegance
Name[bg]=Елегантност
Name[ca]=Elegància
Name[cs]=Elegance
Name[da]=Elegance
Name[de]=Elegance
Name[el]=Elegance
Name[en_GB]=Elegance
Name[es]=Elegante
Name[et]=Elegance
Name[eu]=Dotorea
Name[fr]=Élégance
Name[ga]=Elegance
Name[gl]=Elegancia
Name[hu]=Elegance
Name[is]=Elegant
Name[it]=Eleganza
Name[ja]=Elegance
Name[lt]=Elegancija
Name[lv]=Elegance
Name[mk]=Елеганција
Name[nb]=Elegant
Name[nds]=Eleganz
Name[nl]=Elegance
Name[nn]=Eleganse
Name[pl]=Elegancja
Name[pt]=Elegância
Name[pt_BR]=Elegância
Name[ro]=Eleganță
Name[ru]=Элегантность
Name[sl]=Elegance
Name[sr]=Елеганција
Name[sr@latin]=Elegancija
Name[sv]=Elegans
Name[tr]=Elegance
Name[uk]=Елегантність
Name[x-test]=xxElegancexx
Name[zh_CN]=优雅
Name[zh_TW]=Elegance

Comment=An elegant theme for plasma
Comment[bg]=Елегантна тема за plasma
Comment[ca]=Un tema elegant per al plasma
Comment[cs]=Elegantní téma pro Plasmu
Comment[da]=Et elegant tema til Plasma
Comment[de]=Ein elegantes Design für Plasma
Comment[el]=Ένα κομψό θέμα για το plasma
Comment[en_GB]=An elegant theme for plasma
Comment[es]=Un tema elegante para plasma
Comment[et]=Elegantne Plasma teema
Comment[eu]=Plasmaren gai dotore bat
Comment[fr]=Un thème élégant pour plasma
Comment[ga]=Téama galánta le haghaidh plasma
Comment[gl]=Un tema elegante para plasma
Comment[hu]=Elegáns Plasma-téma
Comment[is]=Fínlegt plasmaþema
Comment[it]=Un tema elegante per Plasma
Comment[ja]=Plasma のエレガントなテーマ
Comment[lt]=Elegantiška plasma tema
Comment[lv]=Eleganta plazmas tēma
Comment[mk]=Елегантна тема за плазма
Comment[nb]=Et elegant tema for plasma
Comment[nds]=En elegant Muster för Plasma
Comment[nl]=Een elegant thema voor plasma
Comment[nn]=Elegant Plasma-tema
Comment[pl]=Elegancki motyw dla Plazmy
Comment[pt]=Um tema elegante para o Plasma
Comment[pt_BR]=Um tema elegante para o Plasma
Comment[ro]=O tematică elegantă pentru plasmă
Comment[ru]=Элегантная тема для Plasma
Comment[sl]=Elegantna tema za Plasmo
Comment[sr]=Елегантна тема за Плазму
Comment[sr@latin]=Elegantna tema za Plasmu
Comment[sv]=Ett elegant tema för Plasma
Comment[tr]=Plasma için şık bir tema
Comment[uk]=Елегантна тема для Плазми
Comment[x-test]=xxAn elegant theme for plasmaxx
Comment[zh_CN]=一个优雅的 Plasma 主题
Comment[zh_TW]=plasma 高雅的主題。

X-KDE-PluginInfo-Author=AdrienV
X-KDE-PluginInfo-Email=adrien.vermeulen (at) free.fr
X-KDE-PluginInfo-Name=Elegance
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-Website=http://www.kde-look.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
