[Desktop Entry]
Name=Produkt
Name[bg]=Продукт
Name[bs]=Produkt
Name[ca]=Produkt
Name[ca@valencia]=Produkt
Name[cs]=Produkt
Name[da]=Produkt
Name[de]=Produkt
Name[el]=Produkt
Name[en_GB]=Produkt
Name[es]=Produkt
Name[et]=Produkt
Name[eu]=Produkt
Name[fi]=Produkt
Name[fr]=Produkt
Name[ga]=Produkt
Name[gl]=Produkt
Name[hu]=Produkt
Name[it]=Prodotto
Name[kk]=Produkt
Name[ko]=Produkt
Name[lt]=Produkt
Name[lv]=Produkt
Name[nb]=Produkt
Name[nds]=Produkt
Name[nl]=Product
Name[pl]=Produkt
Name[pt]=Produkt
Name[pt_BR]=Produkt
Name[ru]=Produkt
Name[sk]=Produkt
Name[sl]=Produkt
Name[sr]=Продукт
Name[sr@ijekavian]=Продукт
Name[sr@ijekavianlatin]=Produkt
Name[sr@latin]=Produkt
Name[sv]=Produkt
Name[tr]=Produkt
Name[uk]=ПродуКт
Name[x-test]=xxProduktxx
Name[zh_CN]=Produkt
Name[zh_TW]=Produkt
Comment=Elegant textured theme
Comment[bg]=Елегантна тема с текстури
Comment[bs]=Elegantna teksturirana tema
Comment[ca]=Un tema elegant amb textura
Comment[ca@valencia]=Un tema elegant amb textura
Comment[cs]=Elegantní texturovaný motiv
Comment[da]=Elegant tema med tekstur
Comment[de]=Ein elegantes strukturiertes Design für Plasma
Comment[el]=Θέμα με κομψή υφή
Comment[en_GB]=Elegant textured theme
Comment[es]=Tema elegante con relieve
Comment[et]=Elegantne tekstuuritud teema
Comment[eu]=Ehundura dotorea duen gaia
Comment[fi]=Elegantti tekstuuriteema
Comment[fr]=Un thème élégant avec textures
Comment[ga]=Téama galánta uigeach
Comment[gl]=Tema elegante con textura
Comment[hu]=Elegánsan textúrázott téma
Comment[it]=Tema a trama elegante
Comment[kk]=Әсем текстуралы нақыш
Comment[lt]=Elegantiška raštuota tema
Comment[lv]=Eleganta fakturēta tēma
Comment[nb]=Elegant tema med tekstur
Comment[nds]=En elegant Textuur-Muster
Comment[nl]=Elegant thema met textuur
Comment[pl]=Elegancki teksturowany motyw
Comment[pt]=Tema elegante com texturas
Comment[pt_BR]=Um elegante tema texturizado
Comment[ru]=Элегантная текстурированная тема
Comment[sk]=Elegantný textúrovaný motív
Comment[sl]=Elegantna teksturirana tema
Comment[sr]=Елегантна текстурирана тема
Comment[sr@ijekavian]=Елегантна текстурирана тема
Comment[sr@ijekavianlatin]=Elegantna teksturirana tema
Comment[sr@latin]=Elegantna teksturirana tema
Comment[sv]=Elegant strukturtema
Comment[tr]=Elegan dokulu tema
Comment[uk]=Елегантна текстурована тема
Comment[x-test]=xxElegant textured themexx
Comment[zh_CN]=优雅的纹理主题
Comment[zh_TW]=優美的主題

X-KDE-PluginInfo-Author=Saleel Velankar
X-KDE-PluginInfo-Email=svelanka@gmail.com
X-KDE-PluginInfo-Name=produkt
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://islingt0ner.deviantart.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

