[Desktop Entry]
Name=OpenLook
Name[af]=Openlook
Name[bg]=OpenLook
Name[br]=OpenLook
Name[ca]=OpenLook
Name[cs]=OpenLook
Name[cy]=GolwgAgored
Name[da]=OpenLook
Name[de]=OpenLook
Name[el]=OpenLook
Name[en_GB]=OpenLook
Name[eo]=OpenLook
Name[es]=OpenLook
Name[et]=OpenLook
Name[eu]=OpenLook
Name[fa]=نگاه‌باز
Name[fi]=OpenLook
Name[fr]=OpenLook
Name[fy]=OpenLook
Name[ga]=OpenLook
Name[gl]=OpenLook
Name[he]=OpenLook
Name[hne]=ओपन-लुक
Name[hu]=OpenLook
Name[is]=OpenLook
Name[it]=OpenLook
Name[ja]=OpenLook
Name[lt]=Open išvaizda
Name[lv]=OpenLook
Name[mk]=OpenLook
Name[ml]=ഓപ്പണ്‍ലുക്ക്
Name[ms]=OpenLook
Name[nb]=OpenLook
Name[nds]=OpenLook
Name[ne]=खुला मोहडा
Name[nl]=OpenLook
Name[nn]=OpenLook
Name[pl]=OpenLook
Name[pt]=OpenLook
Name[pt_BR]=OpenLook
Name[ro]=OpenLook
Name[ru]=OpenLook
Name[sk]=OpenLook
Name[sl]=OpenLook
Name[sr]=Опенлук
Name[sr@latin]=OpenLook
Name[sv]=OpenLook
Name[ta]=திறந்தபார்வை
Name[tg]=OpenLook
Name[tr]=OpenLook
Name[uk]=OpenLook
Name[uz]=OpenLook
Name[uz@cyrillic]=OpenLook
Name[vi]=Hình thức mở
Name[xh]=OpenLook
Name[x-test]=xxOpenLookxx
Name[zh_CN]=OpenLook
Name[zh_TW]=OpenLook
X-KDE-Library=kwin3_openlook
