[Desktop Entry]
Name=Blue Curl
Name[bg]=Синя извивка
Name[ca]=Rínxol blau
Name[cs]=Modrá kudrlinka
Name[da]=Blue Curl
Name[de]=Blaue Schnörkel
Name[el]=Μπλε μπούκλα
Name[en_GB]=Blue Curl
Name[es]=Rizo azul
Name[et]=Sinikähar
Name[fr]=Boucle bleue
Name[gl]=Rizo azul
Name[hu]=Kék fodor
Name[is]=Bláar krullur
Name[it]=Ricciolo blu
Name[nb]=Blå krøll
Name[nds]=Blaag Küsel
Name[nl]=Blauwe golf
Name[nn]=Blåkrøll
Name[pl]=Niebieski zawijas
Name[pt]=Onda Azul
Name[pt_BR]=Ondulação azul
Name[ru]=Завитки
Name[sl]=Modra vitica
Name[sr]=Плава локна
Name[sr@latin]=Plava lokna
Name[sv]=Blå lockar
Name[tr]=Mavi Büklüm
Name[uk]=Синій завиток
Name[x-test]=xxBlue Curlxx
Name[zh_CN]=蓝色旋卷
Name[zh_TW]=藍色螺旋

X-KDE-PluginInfo-Name=Blue_Curl
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
