[Desktop Entry]
Name=At Night
Name[bg]=Нощем
Name[ca]=De nit
Name[cs]=V noci
Name[da]=Ved nattetid
Name[de]=Bei Nacht
Name[el]=Τη νύχτα
Name[en_GB]=At Night
Name[es]=De noche
Name[et]=Öösel
Name[fr]=Nocturne
Name[ga]=At Night
Name[gl]=Á noite
Name[hu]=Éjjel
Name[is]=Að næturlagi
Name[it]=Di notte
Name[lv]=Naktī
Name[nb]=Om natta
Name[nds]=Bi Nacht
Name[nl]=Bij nacht
Name[nn]=Om natta
Name[pl]=W nocy
Name[pt]=À Noite
Name[pt_BR]=A noite
Name[ro]=Noaptea
Name[ru]=Ночь
Name[sl]=Ponoči
Name[sr]=У ноћ
Name[sr@latin]=U noć
Name[sv]=På natten
Name[tr]=Gece
Name[uk]=Вночі
Name[x-test]=xxAt Nightxx
Name[zh_TW]=夜晚

X-KDE-PluginInfo-Name=At_Night
X-KDE-PluginInfo-Author=Javier Llorente
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
