[Desktop Entry]
Name=IceWM
Name[bg]=IceWM
Name[br]=IceWM
Name[ca]=IceWM
Name[cs]=IceWM
Name[cy]=RhewWM
Name[da]=IceWM
Name[de]=IceWM
Name[el]=IceWM
Name[en_GB]=IceWM
Name[eo]=IceWM
Name[es]=IceWM
Name[et]=IceWM
Name[eu]=IceWM
Name[fi]=IceWM
Name[fr]=IceWM
Name[fy]=IceWM
Name[ga]=IceWM
Name[gl]=IceWM
Name[he]=IceWM
Name[hne]=आइस-डबल्यूएम
Name[hu]=IceWM
Name[is]=IceWM
Name[it]=IceWM
Name[ja]=IceWM
Name[lt]=IceWM
Name[lv]=IceWM
Name[mai]=आइस-डबल्यूएम
Name[mk]=IceWM
Name[ml]=ഐസ്ഡബ്ലിയുഎം
Name[ms]=IceWM
Name[nb]=IceWM
Name[nds]=IceWM
Name[ne]=IceWM
Name[nl]=IceWM
Name[nn]=IceWM
Name[pa]=IceWM
Name[pl]=IceWM
Name[pt]=IceWM
Name[pt_BR]=IceWM
Name[ro]=IceWM
Name[ru]=IceWM
Name[sk]=IceWM
Name[sl]=IceWM
Name[sr]=АјсВМ
Name[sr@latin]=IceWM
Name[sv]=Ice-fönsterhanterare
Name[ta]=பனிக்கட்டிWM
Name[tg]=IceWM
Name[tr]=IceWM
Name[uk]=IceWM
Name[uz]=IceWM
Name[uz@cyrillic]=IceWM
Name[vi]=Nước đá WM
Name[xh]=UmkhenkceWM
Name[x-test]=xxIceWMxx
Name[zh_CN]=IceWM
Name[zh_TW]=IceWM
X-KDE-Library=kwin3_icewm
