[Desktop Entry]
Name=Ladybuggin
Name[bg]=Калинки
Name[ca]=Marieta
Name[cs]=Beruška
Name[da]=Ladybuggin
Name[de]=Marienkäfer
Name[el]=Ladybuggin
Name[en_GB]=Ladybuggin
Name[es]=Mariquita
Name[et]=Ladybuggin
Name[fr]=Miss Coccinelle
Name[gl]=Xoaniña
Name[hu]=Katica
Name[is]=Frúarböggar
Name[it]=Coccinellando
Name[nb]=Marihøna
Name[nds]=Sünnküken
Name[nl]=Lieveheersbeestje
Name[nn]=Marihøne
Name[pl]=Biedronka
Name[pt]=Joaninha
Name[pt_BR]=Joaninha
Name[ru]=Божья коровка
Name[sl]=Pikapolonica
Name[sr]=Бубамара
Name[sr@latin]=Bubamara
Name[sv]=Nyckelpigan
Name[tr]=Uğur Böceği
Name[uk]=Божі корівки
Name[x-test]=xxLadybugginxx
Name[zh_TW]=Ladybuggin
X-KDE-PluginInfo-Name=Ladybuggin
X-KDE-PluginInfo-Author=Rick Hanley
X-KDE-PluginInfo-Email=rhanley002@aol.com
X-KDE-PluginInfo-License=LGPLv3
